@import "./variables";

.title {
  width: 174px;
  height: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  text-transform: uppercase;
  padding-left: 100px;
}

.Lesson-Panel {
  width: 664px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-left: 100px;
}

.Lesson-Panel1 {
  width: 285px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-left: 34px;
}

.Rectangle-2 {
  width: 184px;
  height: 45px;
  margin-left: 34px;
  border-radius: 3px;
  background-color: $azure;
  border: 1px solid $azure;
  font-family: RobotoSlab, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
