@import './variables';

form {
  margin-top: 17px;
  margin-left: 100px;

  select {
    width: 150px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    text-align: center;
    color: #c4c4c4;
  }
}
